In [1]:
import pandas as pd
import sqlite3

In [2]:
path = '/home/dmitrii.druzhbin@Digital-Grenoble.local/Documents/BDD/GTF/SEM-GTFS'

In [3]:
stops = pd.read_csv('/home/dmitrii.druzhbin@Digital-Grenoble.local/Documents/BDD/GTF/SEM-GTFS/stops.txt',sep=',')

In [4]:
stops.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,zone_id,location_type,parent_station,wheelchair_boarding
0,100,100,"Saint-Martin-le-Vinoux, La Gomma",45.21528,5.71941,NaN,NaN,LAGOMMA,1
1,1000,1000,"Miribel-Lanchâtre, Bayanne",44.97996,5.62235,NaN,NaN,BAYANNE,2
2,1001,1001,"Miribel-Lanchâtre, Miribel",44.97470,5.62087,NaN,NaN,MIRIBEL,2
3,1002,1002,"Miribel-Lanchâtre, Miribel",44.97466,5.62100,NaN,NaN,MIRIBEL,2
4,101,101,"Eybens, La Châtelière",45.16219,5.74912,NaN,NaN,CHATELIE,1

In [18]:
# conn = sqlite3.connect('GTF.db')

In [6]:
# stops.to_sql('Stops', conn, if_exists='replace', index=False)

In [5]:
db = sqlite3.connect('/home/dmitrii.druzhbin@Digital-Grenoble.local/Documents/BDD/GTF/GTF.db')

In [6]:
cursor = db.cursor()

In [7]:
query = """
SELECT *
FROM Stops
"""
pd.DataFrame(cursor.execute(query)).head()

Empty DataFrame
Columns: []
Index: []

In [8]:
query = """
INSERT or REPLACE INTO Stops (stopID, stopName, stopLat, stopLon)
VALUES (?, ?, ?, ?);
"""

In [66]:
def insert(database):
    for index,row in database.iterrows():
        cursor.execute(query, (row['stop_id'], row['stop_name'], row['stop_lat'], row['stop_lon']))
    db.commit()

In [89]:
def inser_query(database):
    que = list()
    for index,row in database.iterrows():
        que.append(f"INSERT or REPLACE INTO Stops (stopID, stopName, stopLat, stopLon) VALUES ({str(row['stop_id'])}, {[row['stop_name']]}, {row['stop_lat']}, {row['stop_lon']});")
    que = ', '.join(que).replace(';,', ';\n').replace("'","''").replace("\'\'",'').replace("[",'"').replace("]",'"').replace('""','"')
    return que

In [74]:
insert(stops)

TypeError: execute() argument 1 must be str, not list

In [11]:
query = """
SELECT *
FROM Stops
"""
pd.DataFrame(cursor.execute(query)).head()

      0                                 1         2        3
0   100  Saint-Martin-le-Vinoux, La Gomma  45.21528  5.71941
1  1000        Miribel-Lanchâtre, Bayanne  44.97996  5.62235
2  1001        Miribel-Lanchâtre, Miribel  44.97470  5.62087
3  1002        Miribel-Lanchâtre, Miribel  44.97466  5.62100
4   101             Eybens, La Châtelière  45.16219  5.74912

In [12]:
stops.iloc[1].to_dict()

{'stop_id': '1000',
 'stop_code': '1000',
 'stop_name': 'Miribel-Lanchâtre, Bayanne',
 'stop_lat': 44.97996,
 'stop_lon': 5.62235,
 'zone_id': nan,
 'location_type': nan,
 'parent_station': 'BAYANNE',
 'wheelchair_boarding': 2}

In [21]:
agency = pd.read_csv('/home/dmitrii.druzhbin@Digital-Grenoble.local/Documents/BDD/GTF/SEM-GTFS/agency.txt',sep=',')

In [22]:
agency.head()

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,SEM,Mobilités M - Tag,https://www.mobilites-m.fr/,Europe/Paris,FR,438703870

In [23]:
agency = agency.drop(['agency_lang','agency_phone'],axis=1)
agency.columns = ['agencyID','agencyName','agencyUrl','agencyTimeZone']

In [24]:
agency.to_sql('Agency', db, if_exists='append', index=False)

1

In [90]:
sql_file = inser_query(stops)

In [91]:
with open('sql_test.sql','w') as file:
    file.write(sql_file)